<section class="content">
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4 col-xs-offset-4">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Logged entries and exits</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover text-center">
                        <tr>
                            <th>Time</th>
                            <th>Direction</th>
                        </tr>
                        <tr class="bg-green">
                            <td class="big_time">08:02</td>
                            <td><i class="fa fa-arrow-right text-default inandout"></i></td>
                        </tr>
                        <tr class="bg-red">
                            <td class="big_time">09:26</td>
                            <td><i class="fa fa-arrow-left text-default inandout"></i></td>
                        </tr>
                        <tr class="bg-green">
                            <td class="big_time">09:35</td>
                            <td><i class="fa fa-arrow-right text-default inandout"></i></td>
                        </tr>
                        <tr class="bg-red">
                            <td class="big_time">10:42</td>
                            <td><i class="fa fa-arrow-left text-default inandout"></i></td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>
