<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OfficeHours</title>
</head>
<body class="skin-blue wysihtml5-supported">
<div class="wrapper">
    <div th:include="fragments/header"></div>

    <header class="main-header">
        <div class="logo"><b>Office</b>Hours</div>
        <th:block th:include="fragments/top_bar_login"></th:block>
    </header>
    <th:block th:include="fragments/navigation_login"/>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Login
            </h1>
            <ol class="breadcrumb">
                <li class="active">Login</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <form th:action="@{/login}" method="post">
                        <div><label> User Name : <input type="text" name="username"/> </label></div>
                        <div><label> Password: <input type="password" name="password"/> </label></div>
                        <div><input type="submit" value="Sign In"/></div>
                    </form>
                </div>
            </div>

        </section>
    </div>
    <div th:include="fragments/footer"></div>
</div>
</body>
</html>